.wrapper {
  border: 1px solid var(--color-greyscale-300);
}

.header {
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: var(--color-white);
  padding: var(--spacing-medium);
  width: 100%;

  display: flex;
  justify-content: space-between;

  text-align: left;
  color: var(--color-greyscale-900);
}

.panel {
  padding: var(--spacing-small);
  overflow: hidden;
  transition: max-height 0.1s ease;
}

.chevronWrapper {
  display: flex;
  gap: var(--spacing-extra-small);
  color: var(--color-greyscale-500);
}

.icon {
  transition: transform 0.2s ease;
}
